# FastAPI & DB
fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv

# Crawling & Scraping
requests
beautifulsoup4
lxml
selenium
webdriver-manager
tqdm
selenium
webdriver-manager

# Aalyzing flyer
pytesseract
opencv-python
pillow
numpy
matplotlib

# Unit testing
pytest

# Developmenting
jupyter